h1 {
  margin: 0px;
}

.belowHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leftSide {
  width: 50%;
}

.ulListsDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.rightSideImgDiv img {
  height: 300px;
}
