.homeDiv {
  background-color: #CAD2C5;
  color: white;

  padding: 0px 50px 40px 60px;
  margin: 15px 150px 60px 150px;

  border-radius: 5px;

  /* box-shadow: 16px 31px 47px 3px rgba(255,255,255,0.75);
  -webkit-box-shadow: 16px 31px 47px 3px rgba(255,255,255,0.75);
  -moz-box-shadow: 16px 31px 47px 3px rgba(255,255,255,0.75); */
}

.homeComponent {
  padding-top: 200px;

}

#smallIntro {
  height: 70vh;
}
#aboutMe {
  height: 90vh;
}
#contactMe {
  padding-bottom: 20px;
}
