.title_and_line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.compTitle {
}
.line {
  width: 80%;
  margin-left: 20px;
}
.line hr {
  height: 2px;
  border-radius: 5px;
}

.MyProjectImportComponent {
  margin-bottom: 100px;
}
