.nav {
  background-color: #354F52;
  color: #CAD2C5;

  position: fixed;
  top: 0px;
  width: 96%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0px;
  margin: 20px 20px 30px 10px;
  align-items: center;
  padding-right: 10px;

  border-radius: 5px;

}

.nav_nameDiv {
  width: 100px;
  margin-left: 20px;
}
.nav_nameDiv h2 {
  color: #CAD2C5;
}

.nav_liListDiv {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;

}

 a:hover {  /* not all a:'s - affecting AboutMe.js*/
  /* background-color: #2F3E46; */
  /* padding: 10px; */
  text-decoration-color: white;
}
a:active {
  text-decoration: underline;
  text-decoration-color: white;
}
a.now_active {
  text-decoration: underline;
  color: white;
}
a:hover:not(.now_active) {
  text-decoration: underline;
  color: white;
}
.nav_liListDiv a:visited {
  color: #84A98C;
  background-color: #2F3E46;
  padding: 10px;
}
